* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
 }

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

h1 {
    padding-top: 2rem;
    margin: 0px;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}

.top {
    box-shadow: 3px 10px 10px -8px rgba(18,51,2,0.57);
    font-family: 'Rubik Mono One', sans-serif;
    border-bottom: 2px solid #ffa600;
    border-top: 5px solid #ffa600;
    background: linear-gradient(135deg, #193f00 0%,#002821 100%);
    z-index: 2;
}

.bottom {
    background: linear-gradient(to bottom, #ffa600 0%,#ffb728 100%);
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    flex: 1;
    padding: 2rem;
    
}

.form {
    display: flex;
    justify-content: center;
  
}

.text-input {
    border: 0px;
    padding: 1rem;
    font-size: 1.6rem;
    width: 30%;
    font-family: monospace;
    margin: 1rem 0.2rem;
    border-radius: 0.5rem;
    background: hsl(120, 30%, 81%);
    color: #012501;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px inset;
}

.button {
    background: #ffa600;
    font-size: 1.4rem;
    font-family: monospace;
    color: #012501;
    border: 0px;
    padding: 0rem 1rem;
    height: 61px;
    margin: 1rem 0.2rem;
    border-radius: 0.5rem;
}

.button:hover {
    background: hsl(39, 100%, 71%);
    transition: 0.1s ease-in;
}

.button:active {
    background: hsl(39, 100%, 92%);
    box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
    transition: box-shadow 0.1s ease-in;
}

/* Javascript en standaard dus onzichtbare classes! */
.errandlist {
    padding: 0.2rem 1rem;
   
}


.errand {
    list-style-type: none;
    border: 1px solid rgb(189, 189, 189);
    background: hsl(120, 30%, 81%);
    color: #193f00;
    padding: 0.3rem 2rem;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.errand:nth-child(even) {
    background: hsl(44, 65%, 81%);
}

.errand:hover {
    transform: scale(1.01);
}

.erranddone {
    margin-right: 2rem;
    padding: 0 0.5rem;
}

.erranddone:hover {
    background-color: green;
    cursor: pointer;
}

.erranddelete {
    /* font-family: monospace; */
    color: rgb(114, 0, 0);
    
    padding: 0 0.5rem;
}

.erranddelete:hover {
    background-color: tomato;
    cursor: pointer;
}

.checked {
    text-transform: strikethrough;
}